[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-compressor = "*"
pytailwindcss = "*"
crispy-tailwind = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
django-tailwind = "*"
python-decouple = "*"
django-extensions = "*"
django-allauth = "*"
dj-database-url = "*"
prospector = "*"
redis = "*"
django-redis = "*"
hiredis = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
