-i https://pypi.org/simple
asgiref==3.5.2; python_version >= '3.7'
coverage==6.5.0
crispy-tailwind==0.5.0
dj-database-url==1.0.0
django==4.1.2
django-appconf==1.0.5; python_version >= '3.6'
django-browser-reload==1.6.0; python_version >= '3.7'
django-compressor==4.1
django-crispy-forms==1.14.0; python_version >= '3.7'
django-tailwind==3.4.0
gunicorn==20.1.0
markdown==3.4.1
pillow==9.2.0
psycopg2==2.9.4
python-dotenv==0.21.0
rcssmin==1.1.0
rjsmin==1.2.0
setuptools==65.5.0; python_version >= '3.7'
sqlparse==0.4.3; python_version >= '3.5'
whitenoise==6.2.0
redis
django-redis
hiredis
gunicorn 
csscompressor
pytailwindcss
python-decouple
django-allauth